{% extends 'shop/base.html' %}

{% block content %}
{% load static %}
    {% load mptt_tags %}

    <!--content-->
    <div class="breadcrumb-box">
        <div class="container">
            <div class="menu_box">
                <ol class="breadcrumb">
                    {% for crumb in breadcrumbs %}
                                <li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>
                            {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <div class="men">
    <div class="container">
        <div class="col-md-3 sidebar">
            <div class="block block-layered-nav">
                <div class="block-title">
                    <strong><span>Меню каталога</span></strong>
                </div>
                <div class="block-content">
                    <dl id="narrow-by-list">
                        <dd class="odd">
                            <ol>
{#                            {% if categories %}#}
{#                                {% recursetree categories %}#}
{#                                    <li>#}
{#                                        <a href="/category/{{ node.url_path }}/"><span#}
{#                                                class="price1">{{ node.name }}</span></a>#}
{##}
{#                                        {% if not node.is_leaf_node %}#}
{#                                            <ul style="padding-left: 20px">#}
{#                                                {{ children }}#}
{#                                            </ul>#}
{#                                        {% endif %}#}
{#                                    </li>#}
{#                                {% endrecursetree %}#}
{#                            {% else %}#}
{#                                <span>Нет добавленных категорий каталога</span>#}
{#                            {% endif %}#}
                            </ol>
                        </dd>

                        <dt class="last odd">Ценовой диапазон:</dt>
                        <dd class="last odd">

    <form id="priceRangeForm" method="get" action="">
        {% csrf_token %}

        <div id="priceValues">
            От <span id="minPriceValue">0</span> до <span id="maxPriceValue">9000</span>
        </div>
        <div class="slider-container">
            <div id="priceRangeSlider"></div>
        </div>
        <!-- скрытые поля для передачи значений слайдера в запросе -->
        <input type="hidden" id="hiddenMinPrice" name="min_price">
        <input type="hidden" id="hiddenMaxPrice" name="max_price">
        <br>
        <button type="submit">Применить</button>
    </form>

<script>
    $(function () {
        $("#priceRangeSlider").slider({
            range: true,
            min: 0,
            max: 9000,
            values: [0, 9000],
            slide: function (event, ui) {
                $("#minPriceValue").text(ui.values[0]);
                $("#maxPriceValue").text(ui.values[1]);

                // Обновление значений скрытых полей
                $("#hiddenMinPrice").val(ui.values[0]);
                $("#hiddenMaxPrice").val(ui.values[1]);
            }
        });
    });
</script>

{#                            <ol>#}
{#                                <li>#}
{#                                    Black (0)#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="#">Blue</a>#}
{#                                    (2)#}
{#                                </li>#}
{#                            </ol>#}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="mens-toolbar">
                <div class="sort">
                    <div class="sort-by">
                        <form method="get" action="">
                            <select name="brand_name" id="brand">
                                <option value="" {% if not request.GET.brand_name %}selected{% endif %}>Все бренды
                                </option>
                                {% for brand in unique_brands %}
                                    <option value="{{ brand }}"
                                            {% if request.GET.brand_name == brand %}selected{% endif %}>{{ brand }}</option>
                                {% endfor %}
                            </select>
                            <select name="gender" id="gender">
                                <option value="" {% if not request.GET.gender %}selected{% endif %}>Пол</option>
                                <option value="men">Мужчинам</option>
                                <option value="woman">Женщинам</option>
                            </select>

                            <select name="sort" id="sort">
                                <option value="default" {% if sort_param == 'default' %}selected{% endif %}>Цена
                                </option>
                                {#        <option value="name" {% if sort_param == 'name' %}selected{% endif %}>По типу товара</option>#}
                                <option value="price_max" {% if sort_param == 'price_max' %}selected{% endif %}>Цена по
                                    убыванию
                                </option>
                                <option value="price_min" {% if sort_param == 'price_min' %}selected{% endif %}>Цена по
                                    возрастанию
                                </option>
                            </select>
                            <button type="submit">Применить сортировку</button>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            {#    сетка каталога товаров    #}
            {% if products %}
                <div class="span_2">
                {% for product in products %}
                    {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                        <div class="span_2">
                    {% endif %}

                    <div class="col_1_of_single1 span_1_of_single1">
                        <a href="{% url 'shop:product_detail' product.id %}">
                            {% if product.images.all %}
                                <img class="img-responsive" src="{{ IMAGES_URL }}{{ product.images.first.img_small }}"
                                     alt="{{ product.name }}">
                            {% else %}
                                <img class="img-responsive" src="{% static 'images/no_image.png' %}"
                                     alt="{{ product.name }}">
                            {% endif %}

                            <h3>{{ product.name }}</h3>
                            <p>{{ product.brand_name }}</p>
                            <h4>{{ product.price }} ₽</h4>
                        </a>
                    </div>
                {% endfor %}

            <div class="clearfix"></div>
            </div>
            {% else %}
                <h3>Нет добавленных товаров в этой категории</h3>
            {% endif %}


            <!-- Отображение пагинации -->
{#            <nav aria-label="Page navigation">#}
{#                <ul class="pagination">#}
{#                    {% if products.has_previous %}#}
{#                        <li><a href="?page=1{% if sort_param %}&sort={{ sort_param }}{% endif %}">&laquo; первая</a>#}
{#                        </li>#}
{#                        <li><a href="?page=#}
{#            {{ products.previous_page_number }}{% if sort_param %}&sort={{ sort_param }}{% endif %}"#}
{#                               aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>#}
{#                    {% endif %}#}
{##}
{#                    <li class="active"><a href="#">1 <span#}
{#                            class="sr-only">Страница {{ products.number }} из {{ products.paginator.num_pages }}.</span></a>#}
{#                    </li>#}
{##}
{#                    {% if products.has_next %}#}
{#                        <li><a href="?page=#}
{#                                {{ products.next_page_number }}{% if sort_param %}&sort={{ sort_param }}{% endif %}">следующая</a>#}
{#                        </li>#}
{#                        <li><a href="?page=#}
{#                        {{ products.paginator.num_pages }}{% if sort_param %}&sort={{ sort_param }}{% endif %}">последняя#}
{#                            &raquo;</a></li>#}
{#                    {% endif %}#}
{#                </ul>#}
{#            </nav>#}
        <!-- //Отображение пагинации -->

            <div class="clearfix"></div>
            </div>
        </div>
    </div>
    </div>
	<!--//content-->

{% endblock %}